@model IEnumerable<OrderModel>
@{
    ViewData["title"] = "Order History by:" + @ViewBag.UserEmail;
}

<h3>Lịch sử của: @ViewBag.UserEmail</h3>
<table class="table " id="example">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Mã đơn hàng</th>
            <th scope="col">Người mua</th>
            <th scope="col">Ngày đặt</th>
            <th scope="col">Trạng thái</th>
            <th scope="col">Hành động</th>
        </tr>
    </thead>
    <tbody>
        @{
            int index = 1; 
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>@index</td>
                <th scope="row">@item.OrderCode</th>
                <td>@item.UserName</td>
                <td>@item.CreateDate</td>
                <td>
                    @if (@item.Status == 1)
                    {
                        <span class="text text-success">Đơn hàng mới</span>
                    }
                    else if (@item.Status == 0)
                    {
                        <span class="text text-primary">Đã xử lý</span>
                    }
                    else
                    {
                        <span class="text text-danger">Đã hủy</span>
                    }
                </td>
                <td>
                    @if (item.Status != 3 && item.Status != 0)
                    {
                        <a asp-action="CancelOrder" class="btn btn-danger btn-sm" asp-controller="Account"
                            asp-route-orderCode="@item.OrderCode">
                            Hủy đơn</a>
                    }
                </td>
            </tr>
            index++; 
        }
    </tbody>
</table>
