@model IEnumerable<OrderModel>
@{
    ViewData["title"] = "Order History by:" + @ViewBag.UserEmail;
    // Paginate pager = new Paginate();
    // int pageNo = 0;
    // if(ViewBag.Pager != null) {
    // pager = ViewBag.Pager;
    // pageNo = pager.CurrentPage;
    // }
}

<h3>Order History by: @ViewBag.UserEmail</h3>
<table class="table " id="example">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Order Code</th>
            <th scope="col">UserName</th>
            <th scope="col">Order Date</th>
            <th scope="col">Order Status</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @{
            int index = 1; // Khai báo biến trong khối mã Razor
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>@index</td>
                <th scope="row">@item.OrderCode</th>
                <td>@item.UserName</td>
                <td>@item.CreateDate</td>
                <td>
                    @if (@item.Status == 1)
                    {
                        <span class="text text-success">Đơn hàng mới</span>
                    }
                    else if (@item.Status == 2)
                    {
                        <span class="text text-primary">Đã xử lý</span>
                    }
                    else
                    {
                        <span class="text text-danger">Đã hủy</span>
                    }
                </td>
                <td>
                    @if (item.Status != 3)
                    {
                        <a asp-action="CancelOrder" class="btn btn-danger btn-sm" asp-controller="Account"
                            asp-route-orderCode="@item.OrderCode">
                            Cancel Order</a>
                    }
                </td>
            </tr>
            index++; // Tăng biến index sau mỗi vòng lặp
        }
    </tbody>
</table>
@* <partial name="_paging" model="@pager" /> *@
