@model IEnumerable<OrderDetails>
@{
    ViewData["title"] = "Order Details";
    decimal total = 0;
    decimal subtotal = 0;
}

<h3>list Order</h3>
<table class="table" id="example">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Order Code</th>
            <th scope="col">UserName</th>
            <th scope="col">Product Id</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">SubTotal</th>
        </tr>
    </thead>
    <tbody>
        @{
            int index = 1; // Khai báo biến trong khối mã Razor
        }
        @foreach (var item in Model)
        {
            subtotal = item.Quantity * item.Price;
            total += subtotal;
            <tr>
                <input type="hidden" asp-for="@item.OrderCode" class="getId" />
                <td>@index</td>
                <th scope="row">@item.OrderCode</th>
                <td>@item.UserName</td>
                <td>@item.ProductId</td>
                <td>$@item.Price</td>
                <td>@item.Quantity</td>
                <td>@subtotal.ToString("C")</td>
            </tr>
            index++; // Tăng biến index sau mỗi vòng lặp
        }
        <tr style="border-top: 2px solid black;">
            <th>Total</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>@total.ToString("C")</td>
        </tr>
        <tr>
            <td><label for="Status">Trạng thái:</label></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                @if (ViewBag.Status != 3)
                {
                    <select class="form-control select-update-order">
                        <option hidden>@(ViewBag.Status == 1 ? "Đơn hàng mới" : "Đã xử lý")</option>
                        <option value="1">Đơn hàng mới</option>
                        <option value="0">Đã xử lý</option>
                    </select>
                }
                else
                {
                    <span>Đã hủy</span>
                }
            </td>
        </tr>
    </tbody>
</table>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('.select-update-order').change(function () {
                var status = $(this).val();
                var ordercode = $('.getId').val();

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UpdateOrder")",
                    data: { status: status, ordercode: ordercode },
                    success: function (result) {
                        if (result.success) {
                            Swal.fire("Thành công", result.message);
                        } else {
                            Swal.fire("Lỗi");
                        }
                    }
                });
            });
        });
    </script>
}
