@model ProductDetailsViewModel
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-3">
        @Html.Partial("_SidebarPartial")
    </div>

    <div class="col-sm-9 padding-right">
        <div class="product-details"><!--product-details-->
            <div class="col-sm-5">
                <div class="view-product">
                    <img src="~/media/products/@Model.ProductDetails.Image" alt="" />
                </div>
                <div id="similar-product" class="carousel slide" data-ride="carousel">

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item">
                            <a href=""><img src="images/product-details/similar1.jpg" alt=""></a>
                            <a href=""><img src="images/product-details/similar2.jpg" alt=""></a>
                            <a href=""><img src="images/product-details/similar3.jpg" alt=""></a>
                        </div>

                    </div>

                    <!-- Controls -->
                    <a class="left item-control" href="#similar-product" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a class="right item-control" href="#similar-product" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>

            </div>
            <div class="col-sm-7">
                <div class="product-information"><!--/product-information-->
                    <h2>@Model.ProductDetails.Name</h2>
                    <span>
                        <span>$@Model.ProductDetails.Price</span>
                        <label>Quantity: </label>
                        <input type="text" value="1" />
                        @if (Model.ProductDetails.Quantity > 0)
                        {
                            <button type="button" class="btn btn-fefault cart">
                                <i class="fa fa-shopping-cart"></i>
                                Add to cart
                            </button>
                        }
                        else
                        {
                            <button class="btn btn-fefault cart disable" style="background-color: #ccc;">
                                <i class="fa fa-shopping-cart"></i>Out of stock
                            </button>
                        }
                    </span>
                    <p><b>Availability:</b> In Stock</p>
                    <p><b>Condition:</b> New</p>
                    <p><b>Brand:</b> @Model.ProductDetails.Brand.Name</p>
                    <p><b>Category:</b> @Model.ProductDetails.Category.Name</p>
                    <a href=""><img src="images/product-details/share.png" class="share img-responsive" alt="" /></a>
                </div><!--/product-information-->
            </div>
        </div><!--/product-details-->

        <div class="category-tab shop-details-tab"><!--category-tab-->
            <div class="col-sm-12">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#details" data-toggle="tab">Details</a></li>
                    <li><a href="#reviews" data-toggle="tab">Reviews (5)</a></li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade active in" id="details" style="text-align: left; padding-left: 20px;">
                    @Html.Raw(Model.ProductDetails.Description)
                </div>

                <div class="tab-pane fade" id="reviews">
                    <div class="col-sm-12">
                        <ul>
                            <li><a href=""><i class="fa fa-user"></i>EUGEN</a></li>
                            <li><a href=""><i class="fa fa-clock-o"></i>12:41 PM</a></li>
                            <li><a href=""><i class="fa fa-calendar-o"></i>31 DEC 2014</a></li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        <p><b>Write Your Review</b></p>

                        <form autocomplete="off" asp-action="CommentProduct" asp-controller="Product" method="post">
                            <span>
                                <input asp-for="@Model.ProductDetails.Id" name="ProductId" type="hidden" />
                                <input name="Star" type="hidden" value="4" />

                                <div class="row">
                                    <div class="col-md-6"> <!-- Tăng từ col-md-5 lên col-md-6 để trường dài hơn -->
                                        <input asp-for="@Model.Name" type="text" placeholder="Your Name"
                                            class="form-control" />
                                        <span asp-validation-for="@Model.Name" class="text-danger"></span>
                                    </div>

                                    <div class="col-md-6 ms-2"> <!-- Tăng từ col-md-5 lên col-md-6 để trường dài hơn -->
                                        <input asp-for="@Model.Email" type="email" placeholder="Email Address"
                                            class="form-control" />
                                        <span asp-validation-for="@Model.Email" class="text-danger"></span>
                                    </div>
                                </div>
                            </span>

                            <textarea asp-for="@Model.Comment"></textarea>
                            <span asp-validation-for="@Model.Comment" class="text-danger"></span>
                            @* <b>Rating: </b> <img src="images/product-details/rating.png" alt="" /> *@
                            <button type="submit" class="btn btn-default pull-right">
                                Submit
                            </button>
                        </form>
                    </div>
                </div>

            </div>
        </div><!--/category-tab-->

        <div class="recommended_items"><!--recommended_items-->
            <h2 class="title text-center">recommended items</h2>
            <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active">
                        @foreach (var relatedProduct in @ViewBag.RelatedProducts as IEnumerable<ProductModel>)
                        {
                            <div class="col-sm-4">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <a asp-action="Details" asp-controller="Product"
                                                asp-route-Id="@relatedProduct.Id">
                                                <img src="~/media/products/@relatedProduct.Image" alt="@relatedProduct.Name"
                                                    width="240" height="200" />
                                                <h2>$@relatedProduct.Price</h2>
                                                <p>@relatedProduct.Name</p>
                                                <p>Danh mục: @relatedProduct.Category.Name</p>
                                                <p>Thương hiệu: @relatedProduct.Brand.Name</p>
                                            </a>
                                            @if (relatedProduct.Quantity > 0)
                            {
                                            <a class="btn btn-default add-to-cart" asp-action="Add" asp-controller="Cart"
                                                asp-route-Id="@relatedProduct.Id"><i class="fa fa-shopping-cart"></i>Add to
                                                cart</a>
                                                }
                                                else {
                                                    <a class="btn btn-default add-to-cart disable" style="background-color: #ccc;">
                                                        <i class="fa fa-shopping-cart"></i>Out of stock</a>
                                                }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </div><!--/recommended_items-->
    </div>
</div>