@model ProductDetailsViewModel
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-3">
        @Html.Partial("_SidebarPartial")
    </div>

    <div class="col-sm-9 padding-right">
        <div class="product-details"><!--product-details-->
            <div class="col-sm-5">
                <div class="view-product">
                    <img src="~/media/products/@Model.ProductDetails.Image" alt="" />
                </div>
                <div id="similar-product" class="carousel slide" data-ride="carousel">

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item">
                            <a href=""><img src="images/product-details/similar1.jpg" alt=""></a>
                            <a href=""><img src="images/product-details/similar2.jpg" alt=""></a>
                            <a href=""><img src="images/product-details/similar3.jpg" alt=""></a>
                        </div>

                    </div>

                    <!-- Controls -->
                    <a class="left item-control" href="#similar-product" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a class="right item-control" href="#similar-product" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>

            </div>
            <div class="col-sm-7">
                <div class="product-information"><!--/product-information-->
                    <h2>@Model.ProductDetails.Name</h2>
                    <span>
                        <span>$@Model.ProductDetails.Price</span>
                        <label>Số lượng: </label>
                        <input type="text" value="1" />
                        @if (Model.ProductDetails.Quantity > 0)
                        {
                            <button type="button" class="btn btn-fefault cart" data-product_id="@Model.ProductDetails.Id">
                                <i class="fa fa-shopping-cart"></i>
                                Thêm vào Giỏ hàng
                            </button>
                        }
                        else
                        {
                            <button class="btn btn-fefault cart disable" style="background-color: #ccc;">
                                <i class="fa fa-shopping-cart"></i>Hết hàng
                            </button>
                        }
                    </span>
                    <p><b>Tình trạng:</b> @((Model.ProductDetails.Quantity > 0) ? "Còn hàng" : "Hết hàng")</p>
                    <p><b>Mặt hàng:</b> Mới</p>
                    <p><b>Thương hiệu:</b> @Model.ProductDetails.Brand.Name</p>
                    <p><b>Dòng sản phẩm:</b> @Model.ProductDetails.Category.Name</p>
                    <button class="btn btn-default add-btn-wishlist" data-product_id="@Model.ProductDetails.Id"
                        style="background-color: #ff6666 ; color: white; padding: 6px 12px; border-radius: 5px;">
                        <i class="fa fa-heart" style="margin-right: 5px;"></i>
                        Yêu thích
                    </button>
                    <a href=""><img src="images/product-details/share.png" class="share img-responsive" alt="" /></a>
                </div><!--/product-information-->
            </div>
        </div><!--/product-details-->

        <div class="category-tab shop-details-tab"><!--category-tab-->
            <div class="col-sm-12">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#details" data-toggle="tab">Thông tin</a></li>
                    <li><a href="#reviews" data-toggle="tab">Đánh giá</a></li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade active in" id="details" style="text-align: left; padding-left: 20px;">
                    @Html.Raw(Model.ProductDetails.Description)
                </div>

                <div class="tab-pane fade" id="reviews">
                    <div class="col-sm-12">
                        @* <ul>
                            <li><a href=""><i class="fa fa-user"></i>EUGEN</a></li>
                            <li><a href=""><i class="fa fa-clock-o"></i>12:41 PM</a></li>
                            <li><a href=""><i class="fa fa-calendar-o"></i>31 DEC 2014</a></li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p> *@
                        <p><b>Viết Đánh giá của bạn</b></p>

                        <form autocomplete="off" asp-action="CommentProduct" asp-controller="Product" method="post">
                            <span>
                                <input asp-for="@Model.ProductDetails.Id" name="ProductId" type="hidden" />
                                <input name="Star" type="hidden" value="4" />

                                <div class="row">
                                    <div class="col-md-6"> <!-- Tăng từ col-md-5 lên col-md-6 để trường dài hơn -->
                                        <input asp-for="@Model.Name" type="text" placeholder="Tên của bạn"
                                            class="form-control" />
                                        <span asp-validation-for="@Model.Name" class="text-danger"></span>
                                    </div>

                                    <div class="col-md-6 ms-2"> <!-- Tăng từ col-md-5 lên col-md-6 để trường dài hơn -->
                                        <input asp-for="@Model.Email" type="email" placeholder="Email"
                                            class="form-control" />
                                        <span asp-validation-for="@Model.Email" class="text-danger"></span>
                                    </div>
                                </div>
                            </span>

                            <textarea asp-for="@Model.Comment"></textarea>
                            <span asp-validation-for="@Model.Comment" class="text-danger"></span>
                            @* <b>Rating: </b> <img src="images/product-details/rating.png" alt="" /> *@
                            <button type="submit" class="btn btn-default pull-right">
                                Submit
                            </button>
                        </form>
                    </div>
                </div>

            </div>
        </div><!--/category-tab-->

        <div class="recommended_items"><!--recommended_items-->
            <h2 class="title text-center">Có thể bạn cũng thích</h2>
            <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active">
                        @foreach (var relatedProduct in @ViewBag.RelatedProducts as IEnumerable<ProductModel>)
                        {
                            <div class="col-sm-4">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <a asp-action="Details" asp-controller="Product"
                                                asp-route-Id="@relatedProduct.Id">
                                                <img src="~/media/products/@relatedProduct.Image" alt="@relatedProduct.Name"
                                                    width="240" height="200" />
                                                <h2>$@relatedProduct.Price</h2>
                                                <p>@relatedProduct.Name</p>
                                                <p>Dòng sản phẩm: @relatedProduct.Category.Name</p>
                                                <p>Thương hiệu: @relatedProduct.Brand.Name</p>
                                            </a>
                                            <h4>@((relatedProduct.Quantity > 0) ? "Còn hàng" : "Hết hàng")</h4>
                                            @* @if (relatedProduct.Quantity > 0)
                                            {
                                            <a class="btn btn-default cart" asp-action="Add" asp-controller="Cart"
                                                asp-route-Id="@relatedProduct.Id"><i class="fa fa-shopping-cart"></i>Thêm vào Giỏ hàng</a>
                                                }
                                                else {
                                                    <a class="btn btn-default cart disable" style="background-color: #ccc;">
                                                        <i class="fa fa-shopping-cart"></i>Hết hàng</a>
                                                } *@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                @* <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a> *@
            </div>
        </div><!--/recommended_items-->
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.cart').click(function () {
                var Id = $(this).data("product_id");

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Add", "Cart")",
                    data: { Id: Id },
                    success: function (result) {
                        if (result.success) {
                            Swal.fire("Thành công", result.message, "success");
                        } else {
                            Swal.fire("Lỗi", result.message);
                        }
                    }
                });
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('.add-btn-wishlist').click(function () {
                var productId = $(this).data("product_id"); // đổi tên biến để rõ ràng hơn
                // alert(productId);

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("AddWishlist", "Home")",
                    data: { productId: productId }, // đổi tên parameter để match với controller
                    success: function (result) {
                        if (result.success) {
                            Swal.fire("Yêu thích Thành công", result.message, "success");
                        } else {
                            Swal.fire("Lỗi", result.message);
                        }
                    }
                });
            });
        });
    </script>
}