@model IEnumerable<ProductModel>
@{
    ViewData["Title"] = ViewBag.Keyword;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-sm-3" style="padding: 20px; position: sticky; top: 20px;">
    @Html.Partial("_SidebarPartial")
</div>
<style>
    .product-image-wrapper {
        height: 450px;
    }
</style>
<div class="col-sm-9 padding-right">
    <div class="features_items"><!--features_items-->
        <h2 class="title text-center">@ViewBag.Keyword</h2>
        @foreach (var item in Model)
        {
            <div class="col-sm-4">
                <div class="product-image-wrapper card_product">
                    <a asp-action="Details" asp-controller="Product" asp-route-Id="@item.Id">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <img src="~/media/products/@item.Image" alt="@item.Name" width="240" height="200" />
                                <h2>$@item.Price</h2>
                                <p>@item.Name</p>
                                <p>Danh mục: @item.Category.Name</p>
                                <p>Thương hiệu: @item.Brand.Name</p>
                                @if (item.Quantity > 0)
                                {
                                    <button class="btn btn-default add-to-cart" 
                                        data-product_id="@item.Id"><i class="fa fa-shopping-cart"></i>Thêm vào Giỏ hàng</button>
                                }
                                else
                                {
                                    <button class="btn btn-default add-to-cart disable" style="background-color: #ccc;">
                                        <i class="fa fa-shopping-cart"></i>Hết hàng </button>
                                }
                            </div>      
                        </div>
                    </a>
                    <div class="choose text-center">
                        @if (User.Identity?.IsAuthenticated ?? false)
                        {
                            <ul class="nav nav-pills nav-justified">
                                <li>
                                    <button class="btn btn-default add-btn-wishlist" data-product_id="@item.Id"
                                        style="background-color: #ff6666 ; color: white; padding: 6px 12px; border-radius: 5px;">
                                        <i class="fa fa-heart" style="margin-right: 5px;"></i>
                                        Yêu thích
                                    </button>
                                </li>
                            </ul>
                        }
                    </div>
                </div>
            </div>
        }
    </div><!--features_items-->

</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.add-to-cart').click(function () {
                var Id = $(this).data("product_id");

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Add", "Cart")",
                    data: { Id: Id },
                    success: function (result) {
                        if (result.success) {
                            Swal.fire("Thành công", result.message, "success");
                        } else {
                            Swal.fire("Lỗi", result.message);
                        }
                    }
                });
            });
        });
    </script>
}