@model IEnumerable<BrandModel>
@{
    ViewData["title"] = "Dashboard";
}

<h3>Dashboard</h3>
<div class="row">
    <div class="col-md-3">
        <p>Thống kê Sản phẩm</p> @ViewBag.countProduct
    </div>
    <div class="col-md-3">
        <p>Thống kê Đơn hàng</p> @ViewBag.countOrder
    </div>
    <div class="col-md-3">
        <p>Thống kê Danh mục</p> @ViewBag.countCategory
    </div>
    <div class="col-md-3">
        <p>Thống kê sản User</p> @ViewBag.countUser
    </div>
</div>
<div class="container">
    <div class="row">
        <p>
        <h4>Biểu đồ Thống kê</h4>
        </p>
        <div id="myfirstchart" style="height: 250px;"></div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            console.log("Heloo: @Url.Action("GetChartData", "Dashboard")");
            $.ajax({
                url: '@Url.Action("GetChartData", "Dashboard")',
                type: "POST",
                dataType: "json",
                success: function (data) {
                    console.log("Dữ liệu nhận được từ server: ", data); // Kiểm tra dữ liệu nhận được
                    var chartData = data.map(function (item) {
                        return {
                            date: item.date,
                            sold: item.sold,
                            quantity: item.quantity,
                            revenue: item.revenue,
                            profit: item.profit
                        };
                    });

                    console.log("Dữ liệu chuẩn bị cho Morris chart: ", chartData); // Kiểm tra dữ liệu được chuyển vào Morris

                    new Morris.Line({
                        element: 'myfirstchart',
                        data: chartData,
                        xkey: 'date',
                        xLabelFormat: function (x) {
                            return new Date(x).toLocaleDateString();
                        },
                        ykeys: ['sold', 'quantity', 'revenue', 'profit'],
                        labels: ["Số lượng bán ra", "Đơn hàng", "Doanh thu", "Lợi nhuận"]
                    });
                },
                error: function (error) {
                    console.error("Lỗi khi lấy dữ liệu:", error);
                }
            });

        }); 
    </script>
}
