@model IEnumerable<ProductModel>
<div class="col-sm-3" style="padding: 20px; position: sticky; top: 20px;">
    <partial name="_SidebarPartial" />
</div>

<div class="col-sm-9 padding-right">
    <partial name="_FilterProductsPartial" />
    <div class="features_items">
        <h2 class="title text-center">Sản phẩm</h2>
        @foreach (var item in Model)
        {
            <div class="col-sm-4">
                <div class="product-image-wrapper card_product">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <a asp-action="Details" asp-controller="Product" asp-route-Id="@item.Id">
                                <img src="~/media/products/@item.Image" alt="@item.Name" width="240" height="200" />
                                <h2>$@item.Price</h2>
                                <p>@item.Name</p>
                                <p>Danh mục: @item.Category.Name</p>
                                <p>Thương hiệu: @item.Brand.Name</p>
                            </a>
                            <div class="button-group">
        @if (item.Quantity > 0)
        {
            <button class="add-to-cart" data-product_id="@item.Id">
                <i class="fa fa-shopping-cart"></i>
                <span>Thêm vào Giỏ hàng</span>
            </button>
        }
        else
        {
            <button class="add-to-cart disable" style="background-color: #ccc;">
                <i class="fa fa-shopping-cart"></i>
                <span>Hết hàng</span>
            </button>
        }

        @if (User.Identity?.IsAuthenticated ?? false)
        {
            <button class="add-btn-wishlist" data-product_id="@item.Id">
                <i class="fa fa-heart"></i>
                <span>Yêu thích</span>
            </button>
        }
    </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {
            $(function () {
                $("#slider-range").slider({
                    range: true,
                    min: 0,
                    max: 10000,
                    values: [0, 10000],
                    slide: function (event, ui) {
                        $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
                    }
                });
                $("#amount").val("$" + $("#slider-range").slider("values", 0) +
                    " - $" + $("#slider-range").slider("values", 1));
            });
            $('.btn-locgia').on('click', function () {
                var url = $(this).data("current_url");
                if (url) {
                    window.location = url + "?startprice=" + $("#slider-range").slider("values", 0)
                        + "&endprice=" + $("#slider-range").slider("values", 1);
                }
                return false;
            })
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sort_by').on('change', function () {
                var url = $(this).val();

                if (url) {
                    window.location = url;
                }
                return false;
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('.add-to-cart').click(function () {
                var Id = $(this).data("product_id");

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Add", "Cart")",
                    data: { Id: Id },
                    success: function (result) {
                        if (result.success) {
                            Swal.fire("Thành công", result.message, "success");
                        } else {
                            Swal.fire("Lỗi", result.message);
                        }
                    }
                });
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('.add-btn-wishlist').click(function () {
                var productId = $(this).data("product_id"); 
                // alert(productId);

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("AddWishlist", "Home")",
                    data: { productId: productId }, 
                    success: function (result) {
                        if (result.success) {
                            Swal.fire("Yêu thích Thành công", result.message, "success");
                        } else {
                            Swal.fire("Lỗi", result.message);
                        }
                    }
                });
            });
        });
    </script>
}