@model IEnumerable<ProductModel>
<div class="col-sm-3">
    <partial name="_SidebarPartial" />
</div>
<style>
    .product-image-wrapper {
        height: 450px;
    }
</style>
<div class="col-sm-9 padding-right">
    <partial name="_FilterProductsPartial" />
    <div class="features_items"><!--features_items-->
        <h2 class="title text-center">Products</h2>
        @foreach (var item in Model)
        {
            <div class="col-sm-4">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <a asp-action="Details" asp-controller="Product" asp-route-Id="@item.Id">
                                <img src="~/media/products/@item.Image" alt="@item.Name" width="240" height="200" />
                                <h2>$@item.Price</h2>
                                <p>@item.Name</p>
                                <p>Danh mục: @item.Category.Name</p>
                                <p>Thương hiệu: @item.Brand.Name</p>
                            </a>
                            @* <a class="btn btn-default add-to-cart" asp-action="Add" asp-controller="Cart"
                        asp-route-Id="@item.Id"><i class="fa fa-shopping-cart"></i>Add to
                        cart</a> *@
                            <button class="btn btn-default add-to-cart" data-product_id="@item.Id">
                                <i class="fa fa-shopping-cart"></i>Add to cart
                            </button>
                        </div>
                    </div>

                    <div class="choose">
                        @if (User.Identity?.IsAuthenticated ?? false)
                        {
                            <ul class="nav nav-pills nav-justified">
                                <li>
                                    @* <button class="btn btn-default add-btn-wishlist" data-product_id="@item.Id">
                                        <i class="fa fa-plus-square"></i>Add to wishlist
                                    </button> *@
                                    @* <a>
                                        <i class="fa fa-plus-square add-btn-wishlist" data-product_id="@item.Id">
                                        </i>Add to wishlist
                                    </a> *@
                                    <button class="btn btn-default add-btn-wishlist" data-product_id="@item.Id">Yêu thích</button>
                                </li>
                            </ul>
                        }
                    </div>
                </div>
            </div>
        }
    </div><!--features_items-->
</div>
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {
            $(function () {
                $("#slider-range").slider({
                    range: true,
                    min: 0,
                    max: 10000,
                    values: [100, 3000],
                    slide: function (event, ui) {
                        $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
                    }
                });
                $("#amount").val("$" + $("#slider-range").slider("values", 0) +
                    " - $" + $("#slider-range").slider("values", 1));
            });
            $('.btn-locgia').on('click', function () {
                var url = $(this).data("current_url");
                if (url) {
                    window.location = url + "?startprice=" + $("#slider-range").slider("values", 0)
                        + "&endprice=" + $("#slider-range").slider("values", 1);
                }
                return false;
            })
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sort_by').on('change', function () {
                var url = $(this).val();

                if (url) {
                    window.location = url;
                }
                return false;
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('.add-to-cart').click(function () {
                var Id = $(this).data("product_id");

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Add", "Cart")",
                    data: { Id: Id },
                    success: function (result) {
                        if (result.success) {
                            Swal.fire("Thành công", result.message, "success");
                        } else {
                            Swal.fire("Lỗi", result.message);
                        }
                    }
                });
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('.add-btn-wishlist').click(function () {
                var Id = $(this).data("product_id");
                alert(Id);

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("AddWishlist", "Home")",
                    data: { Id: Id },
                    success: function (result) {
                        if (result.success) {
                            Swal.fire("Yêu thích Thành công", result.message, "success");
                        } else {
                            Swal.fire("Lỗi", result.message);
                        }
                    }
                });
            });
        });
    </script>
}